<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/dashboard/update-password" method="post">
        <div id="mesg"><h3><%= mesg%></h3></div>
        <div><label for="currPassword">Current Password: </label><input type="password" id="" name="currPassword"></div>
        <div><label for="password">New Password: </label><input type="password" id="" name="password"></div>
        <div><label for="confirmPassword">Confirm New Password: </label><input type="password" name="confirmPassword" id=""></div>
        <button type="submit">Submit</button>
        <a href="http://localhost:3000/dashboard/forgot-password">Forgot Password</a>
    </form>
</body>
</html>